/* style2.css */

/* fonts
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Play', sans-serif;
font-family: 'Marker Felt';
*/

body.sd {
	/*max-width: 1200px;*/
	background: #959796 url("images/gray-wood.jpg");
	min-width: 620px;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Play', sans-serif;
	list-style: none;
	line-height: 1.25;
}

nav {  
	font-family: 'Arial';
	font-size: 1em;
	width: 100%;
	height: 2.1em;
	background-color: #323131;
	padding-left: 3.5em;
}  

nav ul {
	padding-top: .25em;
}

nav ul li {
	margin: 0px;
	float: left;
}
nav ul li a {
	text-align: center;
	display: block;
	float: left;
	color: white;
	text-decoration: none;
	overflow: hidden;
	padding-top: .1em;
	padding-right: 1em;
	vertical-align: middle;
	font-weight: 200;
} 

nav ul li a:hover,
nav ul li a:active { 
	color: silver;
}  

/*
.logo {
	color: white;
	font-family: 'Hind', sans-serif;  font-size: 1.2em;
	padding-left: 1em;
	padding-right: 2em; 
	}*/

div#southdakota .map {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	height: auto;
	border: 2px solid #625F5F;
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25); 
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,.25); 
}

div#southdakota,
img,
embed,
object {
max-width: 100%;
height: auto;
}

div#southdakota video {
	margin: 0 auto;
	max-width: 40%;
	height: auto;
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5); 
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,.5); 
	border: 10px outset #ddd;
	border-color: black;
}

div#southdakota h1 {
	font-size: 2.6em;
	font-weight: 600;
	padding-top: .5em;
	padding-bottom: .5em;
	text-align: center
}

div#southdakota h2 {
	font-size: 1.8em;
	font-weight: 600;
	padding-top: .4em;
	padding-bottom: 1em;
	text-align: center
}

div#southdakota p {
	font-size: 1.2em;
	font-weight: 600;
}

#southdakota {
	width: 90%; margin: 5% auto;
}

div#southdakota .row { margin: auto; 
	padding-top: 3em;
	padding-bottom: 2em;
}

div#southdakota div.clear {
	clear: both;
}

div#southdakota @media screen and (max-width: 767px) {
    .polaroids li:nth-child(n+5) {
		display: none;
    }
}

div#southdakota ul.polaroids li {
	display: inline; 
}

div#southdakota ul.polaroids a { 
	background: #fff; 
	display: inline; 
	float: left; 
	margin: 0 0 27px 30px; 
	width: auto; 
	padding: 10px 10px 15px; 
	text-align: center; 
	font-family: "Marker Felt", sans-serif; 
	text-decoration: none; 
	color: #333; 
	font-size: 18px; 
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25); 
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,.25); 
	-webkit-transform: rotate(-2deg); 
	-webkit-transition: 
	-webkit-transform .15s linear; 
	-moz-transform: rotate(-2deg); 
}

div#southdakota ul.polaroids li {
	padding-left: 0;
}

div#southdakota @media screen and (max-width: 768px) {
	ul.polaroids li a {
        margin-left: 0;
    } 
}

div#southdakota ul.polaroids img { 
	display: block; 
	width: 300px; 
	margin-bottom: 12px; 
}

div#southdakota ul.polaroids a:after { 
	content: attr(title); 
}
		
div#southdakota ul.polaroids li:nth-child(even) a { 
	-webkit-transform: rotate(2deg);  
	-moz-transform: rotate(2deg); 
}

div#southdakota ul.polaroids li:nth-child(3n) a { 
	-webkit-transform: none; 
	position: relative; top: -5px;  
	-moz-transform: none; 
}

div#southdakota ul.polaroids li:nth-child(5n) a { 
	-webkit-transform: rotate(5deg); 
	position: relative; right: 5px;  
	-moz-transform: rotate(5deg); 
}

div#southdakota ul.polaroids li:nth-child(8n) a 
{ position: relative; 
	right: 5px; 
	top: 8px; 
}

div#southdakota ul.polaroids li:nth-child(11n) a { 
	position: relative; 
	left: -5px; 
	top: 3px; 
}
		
div#southdakota ul.polaroids li.messy a {
	margin-top: -400px;
	position: relative;
	left: 160px;
}

div#southdakota ul.polaroids li a:hover { 
	-webkit-transform: scale(1.25); 
	-moz-transform: scale(1.25); 
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5); 
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,.5); 
	position: relative; 
	z-index: 5; 
}
